body{
    background-color: #150014;
}
#main{
float: left;
width: 100%;
}
#footer{
float: left;
width: 100%;
}
#header{
float: left;
width: 100%;
}
#LeftHeader{
float: left;
width: 75%;
}
#rightHeader{
float: left;
width: 25%;
}
